<div class="col-sm-1 me-3 mt-2 d-flex mx-auto">
    <div class="card border-0 text-center">
        <a href="/search/artist/<%= artist.id %>"><img src="<%= artist.image %>" class="card-img-top rounded-circle" alt="..." style="width: 100%;"></a>
        <div class="card-body mt-3">
            <p class="card-title"><%= artist.name%></>
        </div>
    </div>
</div>