<div class="col-lg-3 me-3 mt-2 d-flex">
    <div class="card text-center">
        <a href="/search/artist/<%= artist.id %>"><img src="<%= artist.image %>" class="card-img-top rounded-circle" alt="..." style="width: 100%;"></a>
        <div class="card-body mt-3">
            <h4 class="card-title"><%= artist.name%></h4>
        </div>
    </div>
</div>