<% if(success && success.length) {%>
    <div id="success-flash" class="alert alert-success alert-dismissible fade show clearfix" role="alert">
        <%= success %>
        <button type="button" class="close float-end" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <% } %>
    
    <% if(error && error.length) {%>
    <div id="error-flash" class="alert alert-danger alert-dismissible fade show clearfix" role="alert">
        <%= error %>
        <button type="button" class="close float-end" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <% } %>

    <!--Toglie il messaggio flash dopo 5 secondi-->
    <script>
        setTimeout(function() {
          document.getElementById('success-flash').remove();
          document.getElementById('error-flash').remove();
        }, 5000);
      </script>