<footer class="bg-dark text-white text-center py-3 mt-auto">
    <div class="container">
      <p class="mb-0">Creato da <a href="https://github.com/leonardosolari" class="text-white fw-bold">Leonardo Solari</a></p>
      <p class="mb-0"><img src="/images/github.svg" alt="" class="footer-img"> <a href="https://github.com/leonardosolari/social-network-for-music" class="text-white fw-bold">Codice Sorgente</a></p>
      <p class="mb-0"><a href="/docs" class="text-white fw-bold">Documentazione API</a></p>
    </div>
</footer>