<a href="/playlist/<%= playlist.id %>" class="btn btn-secondary btn-large playlist-card">
    <img src="/images/playlist.svg" alt="" style="width: 60px; height: 60px;">
    <h4 class="text-truncate"><%= playlist.name %></h4>
    <p><%= playlist.followers.length %> followers</p>
</a>