<script src="/javascripts/generateSearchLink.js"></script>

<div class="row mb-3 mt-3">
    <div class="col-10">
        <form onsubmit="return generateSearchLink()" method="GET" class="d-flex mb-5">
            <input class="form-control me-2" type="text" placeholder="Cerca..." id="searchQuery" required>
            <button class="btn btn-success" type="submit">Cerca</button>
    </div>

    <div class="col-2">
        <select class="form-select flex" id="searchType" name="searchType">
            <option value="all" selected>Tutto</option>
            <option value="tracks">Canzoni</option>
            <option value="albums">Album</option>
            <option value="artists">Artisti</option>
            <option value="users">Utenti</option>
            <option value="playlist">Playlist</option>
        </select>
    </div>
    </form>
</div>