<script src="/javascripts/generateSearchLink.js"></script>

<form onsubmit="urla()" method="GET" class="d-flex mb-5">
    <input class="form-control me-2" type="text" placeholder="Cerca..." aria-label="Search" id="searchQuery">
    <button class="btn btn-success me-2 type="submit">Cerca</button>
    <select class="form-select flex" id="searchType" name="searchType">
        <option value="all" selected>Tutto</option>
        <option value="tracks">Canzoni</option>
        <option value="albums">Album</option>
        <option value="artists">Artisti</option>
    </select>
</form>

