<% layout('layouts/boilerplate')%>
    <h1 class="name">Social Network For Music</h1>

    <% if (!showRecommendations) { %>
        <a href="/users/login"><h3>Esegui il login</h3></a>
    <% } else { %>
        <% if (tracks) { %>
            <h3 class="mt-5">Canzoni consigliate</h3>
            <div class="row">
                <div class="col-6 mb-4">
                    <% for (let i = 0; i < tracks.length/2; i++) { %>
                        <%- include('partials/songRow', {track: tracks[i], showRemoveButton: false})%>
                    <% } %>
                </div>

                <div class="col-6 mb-4">
                    <% for (let i = tracks.length/2; i < tracks.length; i++) { %>
                        <%- include('partials/songRow', {track: tracks[i], showRemoveButton: false})%>
                    <% } %>
                </div>
            </div>
        <% } else { %>
            <p>Non è stato possibile trovare tracce consigliate</p>
        <% } %>
    <% } %>
