<% layout('layouts/boilerplate')%>

    <div class="myHeading">
        <img src="/images/favicon.ico" height="60px">
        <h1 class="name">Social Network For Music</h1>
    </div>
    

    
    <% if (!showRecommendations) { %>
        <div class="col-12 mt-5 text-center">
            <h3>Per visualizzare playlist e tracce consigliate <a href="/users/login">esegui il login</a></h3>
        </div>
    <% } else { %>
        
        <% if (playlist) { %>
         <h3 class="mt-5">Playlist pubbliche</h3>
         <% for (let pl of playlist) { %>
            <%- include('partials/playlistCard', {playlist: pl})%>
        <% } %>
        <% } %>
        
        <% if (tracks) { %>
            <h3 class="mt-5">Canzoni consigliate</h3>
            <div class="row">
                <div class="col-lg-6 col-sm-12 mb-4">
                    <% for (let i = 0; i < tracks.length/2; i++) { %>
                        <%- include('partials/songRow', {track: tracks[i], showRemoveButton: false})%>
                    <% } %>
                </div>

                <div class="col-lg-6 col-sm-12 mb-4">
                    <% for (let i = tracks.length/2; i < tracks.length; i++) { %>
                        <%- include('partials/songRow', {track: tracks[i], showRemoveButton: false})%>
                    <% } %>
                </div>
            </div>
        <% } else { %>
            <p>Non è stato possibile trovare tracce consigliate</p>
        <% } %>
    <% } %>
