.search-filter {
  width: 200px;
  height: 38px;
}

.album-page-img {
  width: 70%;
}

.album-top-bar img.blur {
  position: absolute;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 512px;
  filter: blur(51.2px);
  opacity: .07;
}

h1.name {
  font-size: 50px;
  font-weight: bolder;
}

.cut-text {
  text-overflow: ellipsis;
  overflow: hidden;
}

.edit-playlist-card {
  width: 600px;
}

.login-card {
  width: 500px;
}

.text-center {
  display:flex;
  justify-content:center;
}

.user-token {
  background-color: #a9a9a9;
}

.playlist-card {
  width: 15em;
  flex-direction: row;
  margin: 5px;
}

.footer-img {
  filter: invert(1);
  width: 17px;
  height: 17px;
}

.myHeading img {
  margin-right:10px;
}
.myHeading h1, .myHeading img {
  display:inline-block;
  vertical-align:middle;
}