<% layout('layouts/boilerplate')%>

<%- include('../partials/searchBar') %>

<% if (tracks) { %>
    <h3 class="mt-5">Le più ascoltate</h3>
    <div class="row">
        <div class="col-lg-6 col-xs-12 mb-4">
            <% for (let i = 0; i < 10; i++) { %>
                <%- include('../partials/songRow', {track: tracks[i], showRemoveButton: false})%>
            <% } %>
        </div>

        <div class="col-lg-6 col-xs-12 mb-4">
            <% for (let i = 10; i < 20; i++) { %>
                <%- include('../partials/songRow', {track: tracks[i], showRemoveButton: false})%>
            <% } %>
        </div>
    </div>
<% } %>