<% layout('layouts/boilerplate')%>

<%- include('../partials/searchBar') %>

<% if (tracks) { %>
    <div class="mb-4">
        <h3 class="mb-4">Canzoni</h3>
        <% for (let track of tracks) { %>
            <%- include('../partials/songRow', {track: track, showRemoveButton: false})%>
        <% } %>
    </div>
<% } %>


<% if (albums) { %>
    <div class="container">
        <h3>Album</h3>
        <div class="d-flex mb-4" style="overflow-x: scroll;">
            <% for (let album of albums) { %>
                <%- include('../partials/albumCard', {album: album})%>
            <% } %>
        </div>
    </div>
<% } %>


<% if (artists) { %>
    <div class="container">
        <h3>Artisti</h3>
        <div class="d-flex mb-4" style="overflow-x: scroll;">
            <% for (let artist of artists) { %>
                <%- include('../partials/artistCard', {artist: artist})%>
            <% } %>
        </div>
    </div>
<% } %>
