<% layout('layouts/boilerplate')%>
<div class="container d-flex justify-content-center align-items-center mt-5 mb-3">
    <div class="row">
        <div>
            <div class="card shadow">
                <div class="card-body">
                    <h4 class="card-title text-center mb-4">Accedi</h4>
                    <form action="/users/login" method="POST" class="validated-form" novalidate>
                        <div class="mb-3">
                            <label class="form-label" for="username">Username</label>
                            <input class="form-control" type="text" id="username" name="username" required autofocus>
                            <div class="valid-feedback">
                                Ok!
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="password">Password</label>
                            <input class="form-control" type="password" id="password" name="password" required>
                            <div class="valid-feedback">
                                Ok!
                            </div>
                        </div>
                        <button class="btn btn-success">Login</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="row d-flex">
    <div class="col-12 text-center">
        <p>Non hai un account? <a href="/users/register">Registrati</a></p>
    </div>
</div>