<% layout('layouts/boilerplate')%>
<div class="container d-flex justify-content-center align-items-center mt-5">
    <div class="row">
        <div>
            <div class="card shadow">
                <div class="card-body">
                    <h5 class="card-title">Registrati</h5>
                    <form action="/users/register" method="POST" class="validated-form" novalidate>
                        <div class="mb-3">
                            <label class="form-label" for="username">Username</label>
                            <input class="form-control" type="text" id="username" name="username" value="<%= formData.username || ''%>" required autofocus>
                            <div class="valid-feedback">
                                Ok!
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="email">Email</label>
                            <input class="form-control" type="email" id="email" name="email" value="<%= formData.email || ''%>" required>
                            <div class="valid-feedback">
                                Ok!
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="password">Password</label>
                            <input class="form-control" type="password" id="password" name="password" value="<%= formData.username || ''%>" required>
                            <div class="valid-feedback">
                                Ok!
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="email">Conferma Password</label>
                            <input class="form-control" type="password" id="confirm-password" name="confirmPassword" required>
                            <div class="valid-feedback">
                                Ok!
                            </div>
                        </div>
                        <button class="btn btn-success btn-block">Register</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>