<% layout('layouts/boilerplate')%>
<div class="container">
    <div class="card shadow">
        <div class="card-title">Modifica Playlist</div>
        <div class="card-body"></div>
        <div class="row justify-content-center">
            <div class="col-md-6">

                <form action="/playlist/<%= id %>/edit" method="POST">

                    <div class="form-group mb-3">
                        <label for="name">Nome</label>
                        <input value="<%= name %>" type="text" class="form-control" id="name" name="name" required>
                    </div>

                    <div class="form-group mb-3">
                        <label for="description">Descrizione</label>
                        <input value="<%= description %>" type="text" class="form-control" id="description" name="description" required>
                    </div>
                    
                    <button type="submit" class="btn btn-success m-3">Salva</button>

                </form>
            </div>
        </div>
    </div>
</div>
</div>
</div>