<% layout('layouts/boilerplate')%>
    <div class="container d-flex justify-content-center align-items-center mt-5">
        <div class="row">

            <div class="card shadow">

                <div class="card-body">
                    <h4 class="card-title text-center">Modifica Playlist</h4>

                    <form action="/playlist/<%= id %>/edit" method="POST">

                        <div class="form-group mb-4">
                            <label for="name">Nome</label>
                            <input value="<%= name %>" type="text" class="form-control" id="name" name="name" required>
                        </div>

                        <div class="form-group mb-4">
                            <label for="description">Descrizione</label>
                            <input value="<%= description %>" type="text" class="form-control" id="description"
                                name="description" required>
                        </div>

                        <div class="form-group mb-4">
                            <label for="tags">Inserire tag separati da underscore (_)</label>
                            <input value="<%= tags %>" type="text" class="form-control" id="tags" name="tags"
                                placeholder="es: shrek_palude_dreamworks" required>
                        </div>

                        <button type="submit" class="btn btn-success m-3">Salva</button>

                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>